aula-09/Revenda+Flow.yml
app:
  description: ''
  icon: 🗿
  icon_background: '#FBE8FF'
  mode: advanced-chat
  name: Revenda+Flow
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables:
  - description: Controle da etapa em que o usuário se encontra
    id: 9b0ce065-b9b8-44fc-92eb-2fdc05953b88
    name: etapaAtual
    value: 0
    value_type: number
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: llm-source-1728006648613-target
      source: llm
      sourceHandle: source
      target: '1728006648613'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: answer
      id: 1728006648613-source-answer-target
      source: '1728006648613'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: answer
        targetType: if-else
      id: answer-source-1728605300910-target
      source: answer
      sourceHandle: source
      target: '1728605300910'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: assigner
      id: 1728605300910-true-1728605348770-target
      source: '1728605300910'
      sourceHandle: 'true'
      target: '1728605348770'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: if-else
      id: 1728005815547-source-1728605876710-target
      source: '1728005815547'
      sourceHandle: source
      target: '1728605876710'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1728605876710-false-llm-target
      source: '1728605876710'
      sourceHandle: 'false'
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: 1728605876710-true-1728605961712-target
      source: '1728605876710'
      sourceHandle: 'true'
      target: '1728605961712'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 1728605961712-source-1728606171877-target
      source: '1728605961712'
      sourceHandle: source
      target: '1728606171877'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1728606171877-source-1728606466488-target
      source: '1728606171877'
      sourceHandle: source
      target: '1728606466488'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Iniciar
        type: start
        variables: []
      height: 53
      id: '1728005815547'
      position:
        x: 41.42857142857139
        y: 281.2142857142857
      positionAbsolute:
        x: 41.42857142857139
        y: 281.2142857142857
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            json_schema: "{\n  \"name\": \"carro_escolha\",\n  \"schema\": {\n   \
              \ \"type\": \"object\",\n    \"properties\": {\n      \"nome\": {\n\
              \        \"type\": \"string\",\n        \"description\": \"o nome da\
              \ pessoa\"\n      },\n      \"carro\": {\n        \"type\": \"string\"\
              ,\n        \"description\": \"o carro que o usuário escolheu, se não\
              \ souber marque \\\"\\\"\"\n      },\n      \"response\": {\n      \
              \  \"type\": \"string\",\n        \"description\": \"Sua resposta para\
              \ o usuário\"\n      },\n      \"etapa\": {\n        \"type\": \"integer\"\
              ,\n        \"description\": \"o número da etapa em que você se encontra\
              \ com descrito nas tags\"\n      }\n    }\n  }\n}"
            response_format: json_schema
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - edition_type: jinja2
          id: 50502edf-97e2-48a3-9f07-5bf7a188980f
          jinja2_text: "<contexto>\r\nSeu nome é Clara, você trabalha na Concecionaria\
            \ Auto Carros.\r\nNo inicio da conversa, envie sempre a logo da loja,\
            \ no formato markdown:\r\n\r\n![\"Auto Carros\"](https://www.veiculoaqui.com.br/fotos_lojas/loja20231122131932721_535130177.jpeg)\r\
            \n\r\n\r\nVocê deve orientar o usuário a encontrar o carro ideal.\r\n\
            </contexto>\r\n\r\n<etapas>\r\n1. Solicite o nome do usuário\r\n2. Pergunte\
            \ para que tipo de uso será o carro\r\n3. Faça poucas perguntas para identificar\
            \ o carro ideal para o cliente\r\n4. Sugira um carro ou uma lista de carros\
            \ com base no perfil dele\r\n5. Assim que o usuário escolher o carro,\
            \ agradeça e diga que irá encaminhá-lo para o Gerente Caetano, que irá\
            \ agendar um teste Drive.\r\n</etapas> \r\n\r\n<response_format>\r\nResponda\
            \ no formato JSON com os seguintes campos:\r\nresponse - Sua resposta\
            \ para o usuário\r\ncarro - o carro que o usuário escolheu, se não souber\
            \ marque \"\"\r\nnome - o nome do usuário, se não souber, marque \"\"\r\
            \netapa - o número da etapa em que você se encontra com descrito nas tags\
            \ <etapas>\r\n\r\n</response_format>\r\n\r\n"
          role: system
          text: "<contexto>\nSeu nome é Clara, você trabalha na Concecionaria Auto\
            \ Carros.\nNo inicio da conversa, envie sempre a logo da loja, no formato\
            \ markdown:\n\n![\"Auto Carros\"](https://www.veiculoaqui.com.br/fotos_lojas/loja20231122131932721_535130177.jpeg)\n\
            \n\nVocê deve orientar o usuário a encontrar o carro ideal.\n</contexto>\n\
            \n<etapas>\n1. Solicite o nome do usuário\n2. Pergunte para que tipo de\
            \ uso será o carro\n3. Faça poucas perguntas para identificar o carro\
            \ ideal para o cliente\n4. Sugira um carro ou uma lista de carros com\
            \ base no perfil dele\n5. Assim que o usuário escolher o carro, agradeça\
            \ e diga que irá encaminhá-lo para o Gerente Caetano, que irá agendar\
            \ um teste Drive.\n</etapas> \n\n<response_format>\nResponda no formato\
            \ JSON com os seguintes campos:\nresponse - Sua resposta para o usuário\n\
            carro - o carro que o usuário escolheu, se não souber marque \"\"\nnome\
            \ - o nome do usuário, se não souber, marque \"\"\netapa - o número da\
            \ etapa em que você se encontra com descrito nas tags <etapas>\n\n</response_format>\n\
            \n<json_schema>\n{\n  \"name\": \"carro_escolha\",\n  \"schema\": {\n\
            \    \"type\": \"object\",\n    \"properties\": {\n      \"nome\": {\n\
            \        \"type\": \"string\",\n        \"description\": \"o nome da pessoa\"\
            \n      },\n      \"carro\": {\n        \"type\": \"string\",\n      \
            \  \"description\": \"o carro que o usuário escolheu, se não souber marque\
            \ \\\"\\\"\"\n      },\n      \"response\": {\n        \"type\": \"string\"\
            ,\n        \"description\": \"Sua resposta para o usuário\"\n      },\n\
            \      \"etapa\": {\n        \"type\": \"integer\",\n        \"description\"\
            : \"o número da etapa em que você se encontra com descrito nas tags\"\n\
            \      }\n    }\n  }\n}\n</json_schema>"
        selected: false
        title: ATENDENTE
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 97
      id: llm
      position:
        x: 636
        y: 410.5
      positionAbsolute:
        x: 636
        y: 410.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1728006648613.response#}}'
        desc: ''
        selected: false
        title: RESPOSTA ATENDENTE
        type: answer
        variables: []
      height: 105
      id: answer
      position:
        x: 1242
        y: 410.5
      positionAbsolute:
        x: 1242
        y: 410.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "def main(data: str) -> dict:\n    jsondata = json.loads(data)\n\n \
          \   return {\n        \"response\": jsondata[\"response\"],\n        \"\
          etapa\": jsondata[\"etapa\"],\n        \"nome\": jsondata[\"nome\"],\n \
          \       \"carro\": jsondata[\"carro\"],\n    }"
        code_language: python3
        desc: ''
        outputs:
          carro:
            children: null
            type: string
          etapa:
            children: null
            type: number
          nome:
            children: null
            type: string
          response:
            children: null
            type: string
        selected: false
        title: Código
        type: code
        variables:
        - value_selector:
          - llm
          - text
          variable: data
      height: 53
      id: '1728006648613'
      position:
        x: 946.1428571428573
        y: 410.5
      positionAbsolute:
        x: 946.1428571428573
        y: 410.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: ca54b4e6-1252-4409-be3a-d868fe2af9ce
            value: '5'
            varType: number
            variable_selector:
            - '1728006648613'
            - etapa
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: SE/SENÃO
        type: if-else
      height: 125
      id: '1728605300910'
      position:
        x: 1539.2857142857142
        y: 410.5
      positionAbsolute:
        x: 1539.2857142857142
        y: 410.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        assigned_variable_selector:
        - conversation
        - etapaAtual
        desc: ''
        input_variable_selector:
        - '1728006648613'
        - etapa
        selected: false
        title: Atribuidor de Variáveis
        type: assigner
        write_mode: over-write
      height: 131
      id: '1728605348770'
      position:
        x: 1836.5714285714284
        y: 410.5
      positionAbsolute:
        x: 1836.5714285714284
        y: 410.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 8ba2fe54-6372-4765-85ab-a1e43511fb01
            value: '5'
            varType: number
            variable_selector:
            - conversation
            - etapaAtual
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: SE/SENÃO 2
        type: if-else
      height: 125
      id: '1728605876710'
      position:
        x: 343
        y: 281.2142857142857
      positionAbsolute:
        x: 343
        y: 281.2142857142857
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "from datetime import datetime\n\ndef main() -> dict:\n    # Dicionário\
          \ para mapear os dias da semana em português\n    days_of_week = {\n   \
          \     0: \"Segunda-feira\",\n        1: \"Terça-feira\",\n        2: \"\
          Quarta-feira\",\n        3: \"Quinta-feira\",\n        4: \"Sexta-feira\"\
          ,\n        5: \"Sábado\",\n        6: \"Domingo\"\n    }\n    \n    # Obtém\
          \ a data atual\n    current_date = datetime.now()\n    \n    # Formata a\
          \ data no formato dd/mm/aaaa\n    formatted_date = current_date.strftime(\"\
          %d/%m/%Y\")\n    \n    # Obtém o dia da semana em português\n    day_of_week\
          \ = days_of_week[current_date.weekday()]\n    \n    # Retorna a data e o\
          \ dia da semana\n    return {\n        \"data_atual\": formatted_date,\n\
          \        \"dia_da_semana\": day_of_week\n    }"
        code_language: python3
        desc: ''
        outputs:
          data_atual:
            children: null
            type: string
          dia_da_semana:
            children: null
            type: string
        selected: false
        title: PEGAR DATA ATUAL
        type: code
        variables: []
      height: 53
      id: '1728605961712'
      position:
        x: 636
        y: 265.5
      positionAbsolute:
        x: 636
        y: 265.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - edition_type: jinja2
          id: 4f473a61-8015-40e8-8386-bf7f44908a81
          jinja2_text: "<contexto>\r\nSeu nome é Caetano e você é responsável por\
            \ agendar o teste drive com o cliente em nossa concessionária.\r\n</contexto>\r\
            \n\r\n<etapas>\r\n1. Pergunte o endereço do usuário\r\n2. Sugira os próximos\
            \ dois dias para agendamento, hoje é {{ data_atual }}, {{ dia_da_semana\
            \ }}.\r\n3. Sugira dois horários, um de manhã e outro de tarde.\r\n4.\
            \ Agradeça ao usuário e diga que irá aguardá-lo.\r\n\r\n</etapas>"
          role: system
          text: '<contexto>

            Seu nome é Caetano e você é responsável por agendar o teste drive com
            o cliente em nossa concessionária.

            </contexto>


            <etapas>

            1. Pergunte o endereço do usuário

            2. Sugira os próximos dois dias para agendamento, hoje é {{ data_atual
            }}, {{ dia_da_semana }}.

            3. Sugira dois horários, um de manhã e outro de tarde.

            4. Agradeça ao usuário e diga que irá aguardá-lo.


            </etapas>'
        selected: false
        title: TEST DRIVE
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 97
      id: '1728606171877'
      position:
        x: 939
        y: 265.5
      positionAbsolute:
        x: 939
        y: 265.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1728606171877.text#}}'
        desc: ''
        selected: false
        title: RESPOSTA TEST DRIVE
        type: answer
        variables: []
      height: 105
      id: '1728606466488'
      position:
        x: 1242
        y: 265.5
      positionAbsolute:
        x: 1242
        y: 265.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -271.95000000000005
      y: 96.4
      zoom: 0.7
